name: Publish UPM Package

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - main
    types: [closed]
    
  workflow_dispatch:

jobs:
 deploy:
    name: Deploy
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest    
    steps:
    
    - uses: actions/checkout@master
    - name: Copy the README
      run: |
          cp "README.md" "./Assets/Plugins/${GITHUB_REPOSITORY#*/}/README.md"
    - name: Copy the LICENSE
      run: |
          cp "LICENSE" "./Assets/Plugins/${GITHUB_REPOSITORY#*/}/LICENSE"
    - name: Verify Changed files
      uses: tj-actions/verify-changed-files@v11.1
      id: verify-changed-files
      with:
        files: |
             README.md
             LICENSE
    - name: Commit files
      if: steps.verify-changed-files.outputs.files_changed == 'true'
      run: |
        git config --local user.email ${{secrets.ADMIN_MAIL}}
        git config --local user.name ${{secrets.ADMIN_NAME}}
        git add .
        git commit -m "Update README.md and LICENSE" -a
    - name: Push changes
      if: steps.verify-changed-files.outputs.files_changed == 'true'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    # Any prerequisite steps
    - uses: actions/checkout@master

    # Deploy to local repo
    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: upm
        FOLDER: Assets/Plugins/${GITHUB_REPOSITORY#*/}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SKIP_EMPTY_COMMITS: true
        MESSAGE: "{msg}"
